    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Baraka Calvin Projects</h2>
              <br/>
                <p>In today’s interconnected world, understanding the factors that drive economic growth and development is crucial. In this project, we delve into the World Countries GDP Data to gain insights and visualize the relationships between various variables and a country’s Gross Domestic Product (GDP) per capita. By leveraging data analysis techniques and interactive visualizations, we aim to uncover patterns, explore correlations, and shed light on the key determinants of economic prosperity.</p>
                <p>The Repository to this project can be found at: <a href="https://github.com/Barakacalvin/GDP-Data-Analysis">Barakacalvin</a></p>
                <br/>
              </div>
        </div>
    </section>
